<!DOCTYPE html>
<html>
<body style="background-color:tan;">
<head>
<style>
p {text-indent:50px}
  <title>Candace's Blog</title>
  <%= stylesheet_link_tag    "application", media: "all", "data-turbolinks-track" => true %>
  <%= javascript_include_tag "application", "data-turbolinks-track" => true %>
  <%= csrf_meta_tags %>
</head>
</style>
</body>
<body>

<%= yield %>

</body>
</html>
